/* ----- Colors ----- */
$black: #000000;
$white: #ffffff;
$grey: #cccccc;
$objectBorder: #9ecaed;

/* ----- Fonts ----- */
$baseFontSize: 3vmin;
$mediumFontSize: 2vmin;

/* ----- Others ----- */
$cellSize: 6vmin;
$panelHeight: 10vmin;
$mainMargin: 4vmin;
$middleMargin: 2vmin;
$smallMargin: 1vmin;
$middlePadding: 2vmin;
